brotli==1.2.0
cffi==2.1.1
cssselect2==0.10.1
fonttools==4.65.0
pillow==12.3.0
pycparser==3.0
pydyf==0.12.1
pyphen==0.18.1
tinycss2==1.5.1
tinyhtml5==2.1.0
weasyprint==70.0
webencodings==0.6.1
zopfli==0.4.3
