@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  button,
  input,
  select,
  textarea {
    font: inherit;
  }
  img,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  img,
  video {
    height: auto;
  }
  [hidden]:not([hidden='until-found']) {
    display: none !important;
  }
}
